extends layout

include mixins/_searchHotspots

block content
  header
    div(class="container")
      div(class="row")
        div(class="col-md-12")
          h1(class="super-title") Hotspots
          h4 Discover the best night clubs in your neighbourhood
          +searchHotspots()

  pre= h.dump(user)

