extends layout

include mixins/_searchHotspots

block content
  header
    div(class="container")
      div(class="row")
        div(class="col-md-12")
          h1(class="super-title") Hotspots
          div
            img(src="/images/icons/map.png")
            img(src="/images/icons/car.png")
            img(src="/images/icons/wine.png")
            a(href="https://github.com/ajibs/hotspots" target="_blank")
              img(src="/images/icons/github.png")
          h4 See which bars are bubblin' tonight and RSVP ahead of time!<br>Remember: have fun and don't go home sober
          +searchHotspots()
