doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
    link(rel="stylesheet" href="/dist/style.bundle.css")
  body
    a(href="/")
      button Home
    a(href="/signup")
      button Signup
    a(href="/login")
      button Login
    a(href="/logout")
      button Logout
    a(href="/auth/facebook")
      button Facebook
    a(href="/auth/twitter")
      button Twitter
    a(href="/auth/google")
      button Google




    block messages
      if locals.flashes
        - const categories = Object.keys(locals.flashes)
        each category in categories
          each message in flashes[category]
            p!= message


    block content

    block scripts
      script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6k9IMLlnl2bzNLubzvzB-Y6f17lQyexU&libraries=places")
      if (user)
        script const signedInUser = true;
      script(src="/dist/App.bundle.js")
