mixin searchHotspots()
  div(class="top-wrapper")
    button(id="your-location" class="btn btn-primary btn-lg") Find near Me
    h3 OR
    form
      input(type="hidden" id="csrfGeneralToken" name="_csrf" value= csrfToken)
      input(type="text" name="search" placeholder="enter a city" id="search-input")
    div(id="data" class="top-wrapper")
    div(id="chillOut")
      p(class="text-uppercase") Chill
      img(src="/images/photos/adorable-kitten.gif" class="img-responsive center-block")