mixin searchHotspots()
  form
    input(type="hidden" id="csrfGeneralToken" name="_csrf" value= csrfToken)
    label Enter a City
    input(type="text" name="search" placeholder="e.g. Amsterdam" id="search-place")
  div(id="data")